# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
flow-typed/npm

# testing
coverage
e2e/reports
e2e/screenshots
e2e/log

# production
build

# misc
.vscode
.DS_Store
.env
npm-debug.log
