.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4rem;
  padding: 0 1rem;
}

.navbar-left {}

.navbar-right {}

.brand {
  font-size: 2rem;
}

.login, .logout {
  font-size: 1.2rem;
}